.share-container {
  background: linear-gradient(135deg, #e8f5e9 0%, #b2dfdb 100%);
  min-height: 100vh;
  padding: 1px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.share-container .table-head {
  background: linear-gradient(90deg, #8eeab1, #007e32);
  color: #00335c;
}
.share-container .table-head th {
  font-weight: 600;
  color: #00335c;
}
.share-container .table-cell {
  color: #00335c;
}
.share-container .table-body-row:hover {
  background-color: #85E655 !important;
}